@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-slate-200;
}

thead th#player_name {
  @apply text-left;
}
thead th#variance {
  @apply text-center px-6;
}
thead th#fpl,#md,#odds,#xG {
  @apply text-right;
}

tbody tr td {
  @apply py-1 px-2 border-x border-slate-700;
}

tbody td:nth-of-type(2) > a:hover {
  @apply text-sky-300;
}

table {   
  counter-reset: rowNumber;
}
table tbody tr {
  counter-increment: rowNumber;
}
table tbody tr td:first-child:before {   
  content: counter(rowNumber);
}
.league-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.d1 {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  opacity: 0.8;
}
.d2 {
  background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
  opacity: 0.8;
}
.e64 {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  opacity: 0.8;
}
.nor64 {
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
  opacity: 0.8;
}